

/* Main section */

.adventures-container {
    display: flex;
    flex-flow: row;
    height: 100vh;
}

.adventures-image {
    min-width: 50%;
    background-image: url('../img/lake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adventures-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.adventures-text {
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .adventures-mobile-img {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .adventures-container, .mission-main {
        display: none;
    }


    .adventures-image-mobile {
        width: 100vw;
        height: 40%;
        background-image: url('../img/planting.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .adventures-container-mobile {
        display: flex;
        flex-flow: row;
        height: 70vh;
        width: 100vw;
    }
    .adventures-text-container-mobile {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .adventures-text-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }

    .adventures-text-mobile > h1 {
        margin-bottom: 50px;
    }

    .adventures-text-mobile > p {
        text-align: left;
        padding: 10px 20px;
    }

    .adventures-main-mobile {
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .text-container-mobile {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
        width: 50vw;
        margin: 20px 30px;
    }
}

/* Blog section */

/* #blog {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}


.blog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 0;
}

.blog-card {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 300px;
    margin: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 3ms;
}

.card-image {
    background: url(/assets/img/trecking1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 60%;
}

.card-text {
    font-size: 0.8em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.blog-button {
    display: flex;
    flex-flow: column wrap;
} */

@media only screen and (min-width: 768px) {
    .blog-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .blog-card {
        display: flex;
        flex-flow: column wrap;
        width: 33%;
        height: 300px;
        margin: 20px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

