/* Navigation */

.nav-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 99999;
    margin: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
}

.bar1.change {
    display: inline-block;
    transform: rotate(45deg) translate3d(8.28571px, 10px, 0);
    -webkit-transform: rotate(45deg) translate3d(5.285px, 10px, 0);
}

.bar2.change {
    opacity: 0;
}

.bar3.change {
    top: 10px;
    display: inline-block;
    -webkit-transform: rotate(-45deg) translate3d(17px, -18px, 0);
    transform: rotate(-45deg) translate3d(13px, -18px, 0);
}

.nav-list {
    display: flex;
    flex-flow: column;
    width: 35%;
    height: 75%;
    position: fixed;
    background-color: black;
    opacity: .8;
    align-items: flex-start;
    justify-content: center;
    visibility: hidden;
    left: -250px;
}

.nav-list img {
    height: 50px;
    width: 50px;
}

.nav-list a {
    color: white;
    opacity: 1;
    list-style: none;
    height: 50%;
    font-weight: bold;
    text-decoration: none;
}

.nav-list li {
    padding: 20px;
}

.nav-list ul {
    padding: 0;
}

.hidden {
    visibility: visible;
    transform: translateX(250px);
    transition: .5s transform ease-in-out;
    /* transition-timing-function: cubic-bezier(.38,.52,.37,1.27); */
}

/* Hero section */

.hero-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(/assets/styles/img/hero-2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.hero-container>img {
    width: 200px;
    height: 300px;
}

.hero-container>a {
    color: white;
}

@media only screen and (min-width: 768px) {
    .hero-container>img {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
}

/* Info section */

#info {
    padding: 10px 50px;
}

.info-container {
    margin: 50px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Blog section */

#blog>h1 {
    text-align: center;
    margin-bottom: 100px;
}

.blog-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0;
    height: 100%;
}

.blog-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 33%;
    padding: 10px;
    margin: 50px 0;
}

.blog-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 3ms;
}

.card-image {
    min-width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -10px;
}

@media only screen and (max-width: 768px) {

    .blog-card {
        width: 90%;
    }
}

 /* #blog {
    margin: 50px 0;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px 0;
}

.blog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100vh;
}

.blog-card {
    display: flex;
    flex-flow: column;
    width: 33%;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
}

.blog-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 3ms;
}

.card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 50%;
    margin: -5px;
}

.card-text {
    font-size: 0.8em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    color: black;
}

.blog-button {
    display: flex;
    flex-flow: column wrap;
} 

@media only screen and (max-width: 768px) {
    .blog-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex: 0 1 100%;
    }
    .blog-card {
       flex: 1 0 99%;
       margin: 0;
    }

    .card-image {
        height: 25vh;
    } */
    /* .mobile-blog-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }

    .mobile-blog-card {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 70%;
        margin: 20px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .mobile-card-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 50%;
        margin: -5px;
    }
    
    .mobile-card-text {
        font-size: 0.8em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        color: black;
    } */
/* } */

/* Mission section */

.mission-container {
    display: flex;
    flex-flow: row;
    height: 70vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.mission-image {
    background: url(/assets/img/forest-mission.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50vw;
    height: 100%;
}

.mission-text {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.mission-text>p {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .mission-image {
        display: none;
    }
    .mission-text {
        width: 100vh;
        background: url(/assets/img/forest-mission.jpg) no-repeat center center;
        background-size: cover;
        color: white;
        padding: 0 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    }
}

/* About us section */

.about-container {
    display: flex;
    flex-flow: row-reverse;
    height: 70vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.about-image {
    background: url(/assets/img/sunset.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50vw;
    height: 100%;
}

.about-text {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .about-image {
        display: none;
    }
    .about-text {
        /* background: url('../img/sunset.jpg') no-repeat center center; */
        background-size: cover;
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
        color: black;
        /* box-shadow: inset 0 0 0 1000px rgba(0,0,0, .4); */
    }
}

/* Footer */

.footer-container {
    /* height: 33vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-top: solid black 1px;
    margin-top: 150px;
}

.column-1, .column-2 {
    margin: 0 100px;
}

.footer-nav-list {
    display: flex;
    flex-flow: column;
    width: 35%;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.footer-nav-list a {
    list-style: none;
    height: 50%;
    text-decoration: none;
    color: black;
}

/* Miscelanious */

@media only screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: black;
    height: auto;
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.s-button {
    border: 1px black solid;
    padding: 10px 10px;
    margin: 10px 10px;
    background: transparent;
    font-size: 1.2em;
    font-weight: 400;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.big-header {
    font-size: 3em;
}

.medium-header {
    font-size: 2em;
}

.small-header {
    font-size: 1.5em;
}

.narrow-paragraph {
    font-size: 1em;
    margin: 16px 25% 50px 25%;
}

.overlay {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
}